<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-heroComponentSimple-production</title>
  
    <link href="Content/Site.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>

  <script src="index.js"></script>
  <script src="heroDetail.js"></script>
  

  
</head>
<body ng-app="heroApp">
  <!-- components match only elements -->
    <div ng-controller="MainCtrl as ctrl">
        <b>Hero</b><br><a href="" ng-click="ctrl.clickMe();">pa</a><br />
        {{ctrl.hero.name}}
        <hero-detail hero="ctrl.hero"></hero-detail>



        
    </div>

    Click me: <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"><br />
    <div>
        Show:
        <div class="check-element animate-show" ng-show="checked">
            <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
        </div>
    </div>
    <div>
        Hide:
        <div class="check-element animate-show" ng-hide="checked">
            <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
        </div>
    </div>

</body>
</html>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->