<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AngularEntityEntities" connectionString="metadata=res://*/AngularEntityModel.csdl|res://*/AngularEntityModel.ssdl|res://*/AngularEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mahikero01-lap\sqlexpress;initial catalog=dbbtCARSAp1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>